@import url('./reset.css');
@import url('./typography.css');

body
{
    background-color: rgb(255, 255, 255);
}
main.site
{
    min-width: 20rem;
    max-width: 60rem;
    height: auto;
    background-color: cornsilk;
    margin: 10vh auto;
}
ul.content
{
    list-style-type: none;
    display: flex;
    justify-content:space-between ;
}
ul.content>li
{
    flex: 0 0 19rem;
    display: flex;
    flex-direction: column;
}
div.title
{
    padding: 0 2rem;
    min-height: 6rem;
    padding-top: 0.5rem;
    margin-bottom: 2rem;
    flex-grow: 0;
}
div.title>h1
{
    letter-spacing: 0.5rem;
    font-size: 2rem;
    margin: 0;
}
div.title>h1
{
    color:darkgray;
}
ul.content>li:nth-child(odd)>div.title
{
    border-left: 3px solid gray;
}
ul.content>li img
{
    width:100% ;
    height: 100%;
}
div.title+div
{
    flex-grow: 1;
}
div.cont1
{
    
}
div.cont1>p
{
    font-size: 16px;
    padding: 0.5rem;
}