#body1
{
    background-image:url("../images/WelcomeImg.jpg");
    background-position:height 800px;
	  background-size:cover;
    font-family: cursive;
}
#body_z1
{
    background-image:url("../images/startmenu3.jpg");
    background-position:height 800px;
	  background-size:cover;

}
#body2
{
  background-image:url("../images/izbor-na-karta.jpg");
  background-position:height 1000px;
	background-size:cover;
  font-family: cursive;
  
}
#body3 {
    background-image:url("../images/izbor-na-karta.jpg");
    background-position:height 1000px;
    background-size:cover;
    font-family: Arial, Helvetica, sans-serif;
  }
  #body-z2
  {
    background-image:url("../images/arena-IMG.jpg");
    background-position:height 800px;
	  background-size:cover;
    font-family: cursive;
  }