@import url("./reset.css"); 
@import url("./typography.css");


body
{
    background-color: blueviolet;

}
main.site
{
    min-width: 20rem;
    max-width: 60rem;
    min-height: 30rem;
    height: 40vh;
    background-color: burlywood;
    margin: 30vh auto;
}